.check {
  display: inline-block;
  width: auto;
  margin: 0.5rem;
  margin-left: 0;
  margin-right: 1rem;
  padding: 0;
}

.toggleText {
  display: inline-block;
  text-decoration: underline;
  cursor: pointer;
  padding-right: 0.5rem;
}

.toggleText:hover {
  color: #2b2b2b;
}