.delete {
  cursor: pointer;
  width: 20px;
  height: 20px;
  line-height: 1.25rem;
  padding: 0;
  margin: 0;
  background: #b2b2b2;
  color: white;
  text-align: center;
  vertical-align: middle;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.delete img {
  width: 100%;
  height: 100%;
}

.drag {
  cursor: move;
  pointer-events: none;
}

.row {
  background: white;
  cursor: move;
  max-width: calc(100vw - 342px);
}

.row:hover .delete {
  opacity: 1;
}

.row.grey {
  background: #f2f2f2;
}

.noLeft {
  padding-left: 0 !important;
}

.cell {
  font-family: 'IBM Plex Sans Condensed', Verdana, Sans-serif;
  font-weight: 300;
  color: black;
  padding: 0.25rem 0.5rem;
  line-height: 1rem;
  font-size: 12px;
  box-sizing: border-box;
  display: inline-block;
  width: auto;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
