.group {
  border-bottom: 1px solid #2b2b2b;
}

.filter {
  position: relative;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
}

.filterHeading {
  font-family: 'IBM Plex Sans Condensed', Verdana, Sans-serif;
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
  padding: 0.25rem 0.5rem;
  margin: 0;
  color: #00bbda;
}

.divlist {
  will-change: auto !important;
}

.visRowLabel {
  display: inline-block;
  vertical-align: top;
  margin: 1.5rem 2rem;
  line-height: 20px;
  font-size: 12px;
  font-weight: 400;
  color: #999;
}

.visOption {
  display: inline-block;
  width: 140px;
  margin: 0.5rem 0;
  margin-right: 1rem;
  text-align: center;
  cursor: pointer;
}

.visOptionLabel {
  display: inline-block;
  width: auto;
  color: white;
  background: #191919;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
  font-weight: 400;
  font-size: 12px;
}

.bottom {
  margin-bottom: 0.5rem;
}

.expand {
  position: absolute;
  right: 8px;
  text-align: center;
  font-weight: 400;
  margin-bottom: -1rem;
  background: #00bbda;
  color: white;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  cursor: pointer;
}

.expand img {
  width: 14px;
  height: 14px;
}

.section {
  display: inline-block;
  vertical-align: top;
}

.left {
  padding-right: 1rem;
  overflow: hidden;
}

.grey {
  background: #f4f4f4;
}

.headingRow {
  display: block;
  height: 22px;
  background: #4c4c4c;
  z-index: 1;
}

.spacer {
  display: inline-block;
  height: 22px;
}

.columnHeading {
  position: relative;
  display: inline-block;
  height: 22px;
  line-height: 22px;
  font-size: 14px;
  padding: 0 8px;
  color: #b2b2b2;
  vertical-align: top;
  font-family: 'IBM Plex Sans Condensed', Verdana, Sans-serif;
  font-weight: 400;
  cursor: pointer;
  z-index: 10;
}

.button {
  float: right;
  background: #00bbda;
  color: white;
  border: unset;
  margin: 1.25rem 2rem;
  right: 0;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.button:hover {
  opacity: 0.5;
}

.reset {
  background: #2b2b2b;
  margin: 0.75rem 0.5rem;
  margin-top: 0.25rem;
  color: white;
  border: unset;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.reset:hover {
  opacity: 0.5;
}

.previewButton {
  vertical-align: top;
  height: 57px;
}

.error {
  color: red;
}

.success {
  color: green;
}
