.container {
  min-width: 960px;
  height: 100vh;
  padding: 1rem;
}

.header {
}

.table th,
.table tr,
.table td,
.table thead,
.table table,
.table td {
  width: inherit;
  table-layout: fixed;
  box-sizing: border-box;
  margin: 0 !important;
  padding: 0 !important;
  outline: none;
  border: none;
  border-style: none;
  border-spacing: 0 !important;
  border-collapse: collapse !important;
}

.table thead {
  display: table-header-group;
}

.table th {
  text-align: left;
  font-weight: 200;
  cursor: pointer;
}

.logo {
  width: 140px;
  display: inline-block;
  vertical-align: top;
}

.heading {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  background: #2b2b2b;
  color: white;
}

.outline {
  border: 1px solid #2b2b2b;
}

.filter {
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
}

.bottom {
  margin-bottom: 0.5rem;
}

.expand {
  float: right;
  cursor: pointer;
  width: 1rem;
  text-align: center;
}

.table .heading {
  margin-bottom: 15px;
}

.table .cell {
  padding: 0.25rem 0.5rem;
  width: 100%;
  line-height: 1rem;
  font-size: 0.75rem;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.input {
  box-sizing: border-box;
  display: inline-block;
  font-size: 0.75rem;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  /**/
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.section {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
}

.left {
  /*overflow-y: overlay;*/
  padding-right: 1rem;
  /*width: 265px;*/
  /*overflow-x: hidden;*/
}
.right {
}

.grey {
  background: #f4f4f4;
}

.phinchName {
  width: calc(((100vw - 510px) / 100) * 20);
  min-width: 130px;
  margin-right: 0.25rem;
}
.biomid {
  width: calc(((100vw - 106px) / 100) * 10);
  min-width: 90px;
  margin-right: 0.25rem;
}
.sampleName {
  width: calc(((100vw - 510px) / 100) * 20);
  min-width: 130px;
  margin-right: 0.25rem;
}
.reads {
  width: calc(((100vw - 510px) / 100) * 35);
  min-width: 150px;
  margin-right: 0.25rem;
}

.arrow {
  display: inline-block;
  margin: 0;
  padding: 0;
  line-height: 1rem;
}

.delete {
  cursor: pointer;
  width: 20px;
  height: 20px;
  line-height: 1.25rem;
  padding: 0;
  margin: 0;
  background: #2b2b2b;
  color: white;
  text-align: center;
  vertical-align: middle;
  border-radius: 10px;
}
.drag {
  cursor: move;
}

.modal {
  position: relative;
  margin-top: -360px;
  overflow: hidden;
  padding: 0.5rem 0;
  height: 360px;
  background: white;
  border: 1px solid #2b2b2b;
}

.modal p {
  margin: 0;
  margin-bottom: 0.5rem;
  padding: 0 0.5rem;
}

.button {
  cursor: pointer;
  padding: 0.5rem 0.25rem;
  display: inline-block;
  vertical-align: top;
  max-width: 124px;
}

.button .heading {
  height: 57px;
}

.error {
  color: red;
}
.success {
  color: green;
}
