.outline {
  border: 1px solid #2b2b2b;
}

.filter {
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
}

.bottom {
  margin-bottom: 0.5rem;
}

.expand {
  float: right;
  cursor: pointer;
  width: 1rem;
  text-align: center;
}

/*.input {
  box-sizing: border-box;
  display: inline-block;
  font-size: 0.75rem;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}*/

.section {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
}

.left {
  padding-right: 1rem;
}
.right {
}

.grey {
  background: #f4f4f4;
}

.order {
  background: none;
  width: calc(((100vw - 370px) / 100) * 5.085);
  min-width: 30px;
  margin-right: 0.25rem;
}
.phinchName {
  width: calc(((100vw - 370px) / 100) * 20.85);
  min-width: 123px;
  margin-right: 0.25rem;
}
.biomid {
  width: calc(((100vw - 370px) / 100) * 15.085);
  min-width: 89px;
  margin-right: 0.25rem;
}
.sampleName {
  width: calc(((100vw - 370px) / 100) * 21.865);
  min-width: 129px;
  margin-right: 0.25rem;
}
.reads {
  width: calc(((100vw - 370px) / 100) * 35);
  min-width: 150px;
  max-width: 210px;
  margin-right: 0.25rem;
}

.delete {
  cursor: pointer;
  width: 20px;
  height: 20px;
  line-height: 1.25rem;
  padding: 0;
  margin: 0;
  background: #2b2b2b;
  color: white;
  text-align: center;
  vertical-align: middle;
  border-radius: 10px;
}
.drag {
  cursor: move;
}

.modal {
  /*position: relative;*/
  /*margin-top: -360px;*/
  position: absolute;
  bottom: 3rem;
  overflow: hidden;
  padding: 0.5rem 0;
  height: 360px;
  background: white;
  border: 1px solid #2b2b2b;
}
.modal p {
  margin: 0;
  margin-bottom: 0.5rem;
  padding: 0 0.5rem;
}

.previewButton {
  vertical-align: top;
  height: 57px;
}

.noLeft {
  padding-left: 0 !important;
}

.error {
  color: red;
}
.success {
  color: green;
}
