.range {
  font-size: 12px;
}

.mark {
  display: inline-block;
  padding-top: 4px;
  font-size: 10px;
  overflow: visible;
  color: #cccccc;
}

.svg {
  margin: 0 16px;
  margin-top: 8px;
}

.filterChart {
  font-family: 'IBM Plex Sans Condensed';
  vertical-align: top;
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  color: #cccccc;
}

.name {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  vertical-align: top;
}

.toggleLabel {
  vertical-align: top;
  display: inline-block;
  height: 18px;
  font-size: 12px;
}
