.range {
  font-size: 13px;
  font-weight: 500;
}

.mark {
  display: inline-block;
  padding-top: 4px;
  padding-bottom: 1rem;
  font-size: 13px;
  font-weight: 500;
  overflow: visible;
  color: #ccc;
}

.svg {
  margin: 0 16px;
  margin-top: 8px;
}

.filterChart {
  font-family: 'Open Sans';
  vertical-align: top;
  font-size: 13px;
  font-weight: 500;
  color: white;

}

.name {
  font-size: 15px;
  font-weight: 800;
  vertical-align: top;
  margin-right: 1rem;
  overflow-wrap: break-word;
}

.toggleLabel {
  vertical-align: top;
  display: inline-block;
  height: 18px;
  font-size: 12px;
}
