.remove {
  display: inline-block;
  cursor: pointer;
  font-weight: 200;

  color: #b3b2b3;
  background: #666666;
  width: 1rem;
  height: 1rem;
  border-radius: 2px;
  text-align: center;
  float: right;
  font-size: 14px;
  line-height: 14px;
  vertical-align: middle;
}

.range {
  font-size: 12px;
}

.mark {
  display: inline-block;
  padding-top: 4px;
  font-size: 10px;
  overflow: visible;
  color: #cccccc;
}

.svg {
  margin: 0 16px;
  margin-top: 8px;
}

.circle {
  vertical-align: bottom;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  border: 1px solid #262626;
  display: inline-block;
  margin-right: 0.25rem;
}

.filterChart {
  font-family: 'IBM Plex Sans Condensed';
  vertical-align: top;
  display: inline-block;
  font-size: 16px;
  color: #cccccc;
}

.name {
  font-size: 16px;
  font-weight: 400;
  /*font-family: 'IBM Plex Sans Condensed';*/
}
