/* Styles that appear as one-offs across components */

.container {
  min-width: 960px;
  overflow: hidden;
  height: 100vh;
  padding: 0;
  margin: 0;
  user-select: none;
}

.panel {
  vertical-align: top;
  display: inline-block;
  overflow-y: scroll;
  overflow-x: hidden;
}

.input {
  box-sizing: border-box;
  display: inline-block;
  font-size: 0.75rem;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.logo {
  background: #1a1a1a;
  width: 100px;
  height: 130px;
  padding: 2.5rem 1rem;
  display: inline-block;
  vertical-align: top;
  position: relative;
  z-index: 2;
}

.arrow {
  display: inline-block;
  margin: 0;
  padding: 0;
  line-height: 1rem;
}

.circle {
  vertical-align: bottom;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  border: 1px solid #262626;
  display: inline-block;
  margin-right: 0.25rem;
}

.header {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 100px);
  height: 130px;
  overflow-y: hidden;
  z-index: 20;
}

.heading {
  cursor: pointer;
  display: inline-block;
  background: #2b2b2b;
  color: white;
  padding: 0.25rem 0.5rem;
  margin: 0;
}

.button {
  margin: 0;
  display: inline-block;
  padding: 0.25rem 0.75rem;
  border: 1px solid #00bbda;
  border-radius: 4px;
  background: white;
  color: black;
  font-weight: 400;
  font-size: 1rem;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
}
.button:hover {
  opacity: 0.65;
}

.close {
  display: inline-block;
  cursor: pointer;
  font-weight: 200;
  color: #b3b2b3;
  background: #666666;
  width: 1rem;
  height: 1rem;
  border-radius: 2px;
  text-align: center;
  float: right;
  font-size: 14px;
  line-height: 14px;
  vertical-align: middle;
}

.grey {
  background: #f4f4f4;
}

.noscrollbar::-webkit-scrollbar {
  -webkit-appearance: none;
  display: none;
}

.darkbgscrollbar::-webkit-scrollbar-thumb {
  border: 2px solid #333333;
}

.exdarkbgscrollbar::-webkit-scrollbar-thumb {
  border: 2px solid #191919;
}

.checkbox {
  position: relative;
  display: inline-block;
  top: 0;
  left: 0;
  width: 16px;
  height: 12px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.checkbox input {
  position: absolute;
  top: -2px;
  left: -2px;
  width: 16px;
  height: 16px;
  opacity: 1;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background-color: #666666;
}
.checkmark:hover {
  background-color: #4d4d4d;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox input:checked ~ .checkmark:after {
  display: block;
}
.checkbox .checkmark:after {
  cursor: pointer;
  left: 4px;
  top: 1px;
  width: 4px;
  height: 8px;
  border: solid #1fbbd8;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}