.container {
  /*margin-top: 1rem;*/
}
.container p {
  font-size: 0.7rem;
}

.loader {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.35);
}
.loader img {
  display: block;
  margin: 45vh auto;
}

.section {
  display: inline-block;
  height: 100vh;
}
.area {
  padding: 1rem;
}

.left {
  width: 40vw;
  vertical-align: top;
}

.right {
  vertical-align: top;
  width: 60vw;
}

.scroll {
  height: 100vh;
  overflow-y: scroll;
}

.about {
  margin-top: 1rem;
  height: 36vh;
  text-align: center;
  border-right: 1px solid #2b2b2b;
}

.about p {
  margin: 0.5rem;
}
.links {
  background: #2b2b2b;
  height: 64vh;
}

.projectType {
  padding: 0 2rem;
}
