/*.container p {
  font-size: 0.7rem;
}*/
.container {
  font-family: 'IBM Plex Sans';
}

.section {
  display: inline-block;
  height: 100vh;
}

.area {
  padding: 1rem;
}

.left {
  /*width: 40vw;*/
  width: 400px;
  vertical-align: top;
  background: #191919;
}

.right {
  /*width: 60vw;*/
  width: calc(100vw - 400px);
  vertical-align: top;
}

.scroll {
  height: 100vh;
  overflow-y: scroll;
}

.about {
  /*margin-top: 1rem;*/
  /*height: 36vh;*/
  text-align: center;
  padding: 50px;
  padding-bottom: 40px;
  /*border-right: 1px solid #2b2b2b;*/
}

.about p {
  font-size: 16px;
  margin: 38px;
  margin-bottom: 0;
}

.logo {
  width: 130px;
}

.links {
  /*background: #2b2b2b;*/
  /*height: 64vh;*/
}

.projectType {
  padding: 0 2rem;
}
