.section {
  display: inline-block;
  height: 100vh;
}

.sectionTitle {
  display: inline-block;
  vertical-align: top;
  color: #000000;
  font-size: 20px;
  height: 26px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.sectionRule {
  display: inline-block;
  vertical-align: top;
  margin: 12px 6px;
  padding: 0;
  width: calc(100vw - 660px);
  height: 2px;
  background: #584f47;
}

.area {
  padding: 1rem;
}

.rightSpace {
  padding-right: 0.5rem;
}

.left {
  width: 400px;
  vertical-align: top;
  background: #001226;
}

.right {
  width: calc(100vw - 400px);
  vertical-align: top;
}

.scroll {
  height: 100vh;
  overflow-y: scroll;
}

.edit {
  position: absolute;
  font-size: 13px;
  font-family: "OpenSans-SemiBold, Open Sans";
  font-weight: 600;
  top: 3rem;
  right: 2rem;
  cursor: pointer;
}

.modal {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0.5rem 2rem;
}

.modal p {
  font-size: 16px;
  font-weight: 300;
  margin: 1rem 0;
}

.modal code {
  word-break: break-all;
}

.modal .modalTitle {
  font-weight: 600;
  font-style: italic;
  word-wrap: break-word;
}

.modal .button {
  position: absolute;
  bottom: 0.75rem;
  right: 6.25rem;
}

.modal .button.cancel {
  right: 0;
  background: #F09E6A;
  color: #FFFFFF;
}

.info {
  text-align: center;
  padding: 50px;
  padding-bottom: 40px;
  height: 238px;
}

.info p {
  font-size: 16px;
  margin: 38px;
  margin-bottom: 0;
}

.logo {
  width: 130px;
  cursor: pointer;
}

.links {
  height: calc(100vh - 190px);
  overflow-y: scroll;
}

.projectType {
  padding: 0 2rem;
}

.projectType.top {
  padding-top: 2rem;
}

.about {
  background: white;
  color: #001226;
}

.about h2 {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 4px;
  margin-bottom: 2rem;
}

.about .center {
  width: calc(100vw - 700px);
  padding: 3rem;
}

.about .center p {
  font-weight: 300;
  margin-bottom: 1rem;
}

p.first::first-letter {
  vertical-align: top;
  color: #F09E6A;
  font-size: 800%;
  font-weight: 100;
  float: left;
  margin: 0;
  margin-top: -2.5rem;
  margin-bottom: -2.5rem;
  margin-right: 0.5rem;
  margin-left: -0.75rem;
  padding: 0;
}

.about .logos {
  width: 100%;
  vertical-align: top;
  padding: 3rem 1rem;
}

.alogo {
  width: 100%;
  vertical-align: top;
  padding: 1rem 2rem;
}

.about .close {
  float: right;
  width: 2rem;
  height: 2rem;
  background: #F09E6A;
  border-radius: 1rem;
  color: white;
  font-weight: 400;
  vertical-align: middle;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.75rem;
}
