.toggle {
  width: 130px;
  height: 24px;
  border-radius: 8px 8px 0 0;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  user-select: none;
  z-index: 5;
}

.toggle.shown {
  background-color: #F09E6A !important;
}

.badge {
  vertical-align: middle;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  display: inline-block;
  background-color: #f00;
  color: white;
  margin-left: 120px;
  margin-bottom: 16px !important;
  text-align: center;
  font-family: 'IBM Plex Sans Condensed', Verdana, Sans-serif;
  line-height: 24px;
  font-size: 12px;
  font-weight: 400;
  z-index: 9;
}

.modal {
  overflow: hidden;
  padding: 0.5rem 0;
  height: 360px;
  border-radius: 8px;
  border: 2px solid #333;
  background: #1a1a1a;
  color: #808080;
  z-index: 5;
}

.modal .title {
  font-size: 14px;
  margin: 0;
  margin-bottom: 0.5rem;
  padding: 0 6px;
  color: #fff;
  font-weight: 400;
}

.dataContainer {
  margin: 0 6px;
  padding: 0;
  height: calc(100% - 26px);
  will-change: auto !important;
  overflow: visible;
  overflow-y: scroll;
}

.dataContainer > svg {
  width: 100%;
  font-family: 'IBM Plex Sans Condensed', Verdana, Sans-serif;
  font-weight: 200;
  font-size: 12px;
  padding-top: 6px;
  overflow: visible;
  transform-origin: 0 0;
}
