.toggle {
  width: 130px;
  height: 32px;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  user-select: none;
  z-index: 10;
}

.toggle.shown {
  background-color: #1fbbd8 !important;
}

.badge {
  vertical-align: middle;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  display: inline-block;
  background-color: #ff0000;
  margin-left: 120px;
  margin-bottom: 16px !important;
  text-align: center;
  font-family: 'IBM Plex Sans Condensed';
  line-height: 24px;
  font-size: 12px;
  font-weight: 400;
  z-index: 10;
}

.modal {
  overflow: hidden;
  padding: 0.5rem 0;
  height: 360px;
  background: white;
  border-radius: 8px;
  border: 2px solid #333333;
  background: #1a1a1a;
  color: #808080;
  z-index: 5;
}

.modal .title {
  font-size: 14px;
  margin: 0;
  margin-bottom: 0.5rem;
  padding: 0 6px;
  color: #ffffff;
  font-weight: 400;
}

.dataContainer {
  margin: 0 6px;
  height: calc(100% - 26px);
  overflow-x: hidden;
  overflow-y: scroll;
}

.svgContainer {
  width: 100%;
  /*height: 100%;*/
}