h1.heading {
  color: #666;
  margin: 0;
  margin-bottom: 1rem;
  line-height: 1rem;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
}

h1.flagshipHeading {
  display: inline-block;
  color: #F09E6A;
  margin: 0;
  margin-bottom: 1rem;
  line-height: 1rem;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
  white-space: nowrap;
}

.left {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 100px;
  background: #333;
} 

.right {
  display: inline-block;
  position: relative;
  vertical-align: baseline;
  width: 200px;
}

.section {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: calc(100vw - 100px);
  height: 100vh;
  margin: 0;
  padding: 2rem 6rem;
  background: transparent;
  color: #808080;
}

.flagshipLink {
  top: 1rem;
  width: calc(100vw - 800px);
  max-width: 350px;
  min-width: 272px;
  overflow-y: scroll;
}

.flagshipLink p {
  display: inline-block;
  margin: 0;
  font-weight: 300;
  color: black;
  font-size: 16px;
}

.downloadFS {
  padding: 0;
  padding-top: 1rem;
  border: none;
  background: none;
}

.column {
  width: calc(100vw - 150px);
}

/* .column p {
  width: 540px;
  font-weight: 300;
  color: black;
  margin: 0.5rem 0;
  font-size: 1rem;
} */

input.wide,
.textarea,
.warning {
  width: 540px;
  margin: 1rem;
  margin-left: 0;
  padding: 0.25rem 0.5rem;
  padding-top: 3rem;
  resize: none;
  border-radius: 8px;
  border: 1px solid #F09E6A;
  background: #FFFFFF;
  color: #E6E6E6;
  font-size: 1rem;
  font-weight: 200;
  font-family: 'IBM Plex Mono', Verdana, Sans-serif;
  text-align: center;
}

.textarea {
  display: inline-block;
  height: 272px;
}

.textarea p {
  color: #E6E6E6;
  font-size: 1rem;
  font-weight: 200;
  font-family: 'IBM Plex Mono', Verdana, Sans-serif;
  text-align: center;
}

.textarea.drag {
  background: #F09E6A;
  color: white;
}

.textarea.drag * {
  pointer-events: none;
}

.button {
  display: block;
  color: white;
  background: #FFFFFF;
}

.browse {
  display: block;
  padding: 0;
  border: none;
  background: none;
}


.filter {
  display: block;
  padding: 0;
  border: none;
  background: none;
}


.loader {
  display: block;
}

.table {
  border-spacing: 0;
  margin: 0.5rem 0;
}

td {
  margin: 0;
  padding: 0.25rem 0;
  color: black;
  font-weight: 300;
}

td.label {
  font-weight: 400;
  text-align: right;
  padding-right: 1rem;
}

.indicator {
  border: none;
  margin-bottom: 2px;
}

.error {
  font-weight: 300;
}

.link {
  cursor: pointer;
  border-bottom: #f8f8f8 1px solid;
  transition: border 0.5s ease-in-out;
}

.link:hover {
  border-bottom: black 1px solid;
}

.warning {
  color: red;
  padding: 0;
  border: none;
  background: none;
  text-align: left;
}

.warning ul {
  max-height: 20vh;
  overflow-y: scroll;
  background-color: white;
  margin: 0.25em 0;
  padding: 0.25em 0;
}

.warning ul li,
.warning .head {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.warning p,
.warning ul li div,
.warning .head div {
  max-width: 100%;
  padding-bottom: 1rem;
}

.warning .head {
  width: calc(100% - 0.6em);
  font-weight: 400;
}
