h1.heading {
  color: #666;
  margin: 0;
  margin-bottom: 4rem;
  line-height: 1rem;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.left {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 100px;
  background: #333;
}

.section {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: calc(100vw - 100px);
  height: 100vh;
  margin: 0;
  padding: 2rem 6rem;
  background: transparent;
  color: #808080;
  overflow-y: scroll;
}

.column {
  width: 640px;
}

.column p {
  width: 540px;
  font-weight: 300;
  color: black;
  margin: 0.5rem 0;
  font-size: 1rem;
}

input.wide,
textarea.textarea {
  width: 540px;
  margin: 1rem;
  margin-left: 0;
  padding: 0.25rem 0.5rem;
  resize: none;
  border: 1px solid #dcdcdc;
  background: white;
  color: #666;
  font-size: 1rem;
  font-weight: 200;
  font-family: 'IBM Plex Mono', Verdana, Sans-serif;
}

textarea.textarea {
  height: 132px;
}

textarea.textarea.drag {
  background: #00bbda;
  color: white;
}

textarea.textarea.drag * {
  pointer-events: none;
}

.button {
  color: white;
  background: #00bbda;
}

.filter {
  float: right;
}

.loader {
  display: block;
}

.table {
  border-spacing: 0;
  margin: 0.5rem 0;
}

td {
  margin: 0;
  padding: 0.25rem 0;
  color: black;
  font-weight: 300;
}

td.label {
  font-weight: 400;
  text-align: right;
  padding-right: 1rem;
}

.indicator {
  border: none;
  margin-bottom: 2px;
}

.error {
  margin-left: 7.5rem;
  color: black;
  font-weight: 300;
}

.link {
  cursor: pointer;
  border-bottom: #f8f8f8 1px solid;
  transition: border 0.5s ease-in-out;
}

.link:hover {
  border-bottom: black 1px solid;
}
