.project {
  width: 10.75rem;
  height: 12.5rem;
  padding: 1rem;
  vertical-align: top;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

.project img {
  width: 7rem;
  height: 7rem;
  box-shadow: 0 0 3px #808080;
  background: white;
}

.project p {
  color: #808080;
  word-wrap: break-word;
}
