.projects {
  margin-left: 6rem;
  margin-right: 2rem;
}

.project {
  width: 10rem;
  padding: 1rem;
  padding-bottom: 0;
  margin: 0;
  vertical-align: top;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

.info {
  display: inline-block;
  width: 6rem;
  height: 6rem;
  background: black;
  border-radius: 8px;
  text-align: right;
  padding: 0.5rem 0.75rem;
  font-size: 12px;
  line-height: 12px;
}

img.new {
  background: #00bbda;
}

.edit img.new {
  background: #4c4c4c;
}

.edit p.name {
  color: #666666;
}

p {
  margin: 0;
  padding: 0;
}

.summary {
  vertical-align: top;
  height: 28px;
}

p.number {
  font-weight: 400;
  color: #00bbda;
}

p.label {
  font-weight: 400;
  font-size: 10px;
  color: #b2b2b2;
}

.name {
  font-weight: 400;
  word-wrap: break-word;
  font-size: 14px;
  margin: 0.5rem 0;
  max-width: 100%;
  height: auto;
}

p.name {
  color: white;
}

textarea.name {
  color: black;
}
