.table th,
.table tr,
.table td,
.table thead,
.table table,
.table td {
  width: inherit;
  table-layout: fixed;
  box-sizing: border-box;
  margin: 0 !important;
  padding: 0 !important;
  outline: none;
  border: none;
  border-style: none;
  border-spacing: 0 !important;
  border-collapse: collapse !important;
}
.table thead {
  display: table-header-group;
}
.table th {
  text-align: left;
  font-weight: 200;
  cursor: pointer;
}
.table .cell {
  padding: 0.25rem 0.5rem;
  width: 100%;
  line-height: 1rem;
  font-size: 0.75rem;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.heading {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  background: #2b2b2b;
  color: white;
}

.outline {
  border: 1px solid #2b2b2b;
}

.modal {
  position: relative;
  margin-top: -360px;
  overflow: hidden;
  padding: 0.5rem 0;
  height: 360px;
  background: white;
  outline: 4px solid #1a1a1a;
  color: #808080;
}
.modal .title {
  margin: 0;
  margin-bottom: 0.5rem;
  padding: 0 0.75rem;
}

.phinchName {
  width: 144px;
  margin-right: 0.25rem;
}
.biomid {
  width: 72px;
  margin-right: 0.25rem; 
}
.restore {
  background: none;
  width:  36px;
  margin-right: 0.25rem;
}
