.menuToggle {
  position: relative;
  color: #ffffff;
  background: #1fbbd8;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  font-size: 12px;
  line-height: 12px;
  margin: 0;
  margin-left: -3px;
  margin-top: 0.5rem;
  padding: 0;
  text-align: center;
  cursor: pointer;
  border: 3px solid #333333;
  transition: transform 0.5s ease-in-out;
}

.menuToggle img {

}

.menuToggle.rotated {
  transform: rotate(-180deg);
}

.toggleSquare {
  position: absolute;
  background: #333333;
  width: 9px;
  height: 24px;
  margin: 0;
  margin-top: 0.5rem;
  padding: 0;
}

.menu {
  color: #ffffff;
  background: #333333;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
}

.menuItem {
  width: 100%;
  margin: 1rem 0.5rem;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}

.menuItemLabel {
  font-size: 12px;
  font-weight: bold;
  padding-left: 2px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.menuBox {
  margin: auto;
  width: 30px;
  height: 30px;
  background: #1fbbd8;
  font-size: 24px;
  text-align: center;
  border-radius: 8px;
}

.menuBox img {
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
}
