.menuToggle {
  position: relative;
  color: #fff;
  background: #f0946a;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  font-size: 12px;
  line-height: 12px;
  margin: 0;
  margin-left: -3px;
  margin-top: 0.5rem;
  padding: 0;
  text-align: center;
  cursor: pointer;
  border: 3px solid #333;
  transition: transform 0.5s ease-in-out;
}

.menuToggle.rotated {
  transform: rotate(-180deg);
}

.toggleSquare {
  position: absolute;
  background: #333;
  width: 9px;
  height: 24px;
  margin: 0;
  margin-top: .5rem;
  padding: 0;
}

.menu {
  color: #fff;
  background: #333;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
}

.menuItem {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  margin: 1rem .5rem;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.menuItemLabel {
  font-size: 12px;
  font-weight: bold;
  padding-left: 2px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.menuBox {
  margin: auto;
  width: 30px;
  height: 30px;
  background: #F09E6A;
  font-size: 24px;
  text-align: center;
  border-radius: 8px;
}

.menuBox img {
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
}
