
.StackedBarTooltip {
  position: absolute;
  font-size: 12px;
  top: 0;
  left: 0;
  width: 332px;
  height: 232px;
  background-color: #fff;
  pointer-events: none;
  padding: 1em;
  border: 1px solid #ccc;
}

.label {
  text-transform: uppercase;
  font-size: 80%;
}

.value {
  font-weight: bold;
  overflow-wrap: break-word;
  margin-bottom: 1em;
}

.small {
  font-size: 70%;
  font-weight: normal;
  text-transform: initial;
}