.rowLabel {
  font-family: 'IBM Plex Sans Condensed';
  position: relative;
  margin: 0;
  font-size: 12px;
  line-height: 14px;
  padding: 0;
  color: #1a1a1a;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  vertical-align: top;
}

.rowLabel input {
  font-family: 'IBM Plex Sans Condensed';
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  height: 14px;
  margin: 0;
  padding: 0;
  top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  vertical-align: top;
}

.row:hover {
  cursor: pointer;
  stroke: #e9e9e9;
}

.button {
  cursor: pointer;
  user-select: none;
  width: auto;
  display: inline-block;
  text-transform: uppercase;
  height: 14px;
  line-height: 12px;
  font-size: 9px;
  font-weight: 400;
  padding: 0 4px;
  padding-top: 1px;
  margin: 0;
  background: #b2b2b2;
  color: white;
  text-align: center;
  vertical-align: middle;
  border-radius: 6px;
}
.button:hover {
  background: #808080;
}
.input:hover .button {
  background: #808080;
  cursor: pointer;
}

.tagMenu {
  position: absolute;
  background: white;
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
  border: 2px solid #e9e9e9;
  z-index: 10;
  margin-top: -32px;
  margin-left: 36px;
  cursor: pointer;
}

.tag {
  line-height: 16px;
  vertical-align: middle; 
  color: #808080;
  user-select: none;
}

.tagIcon {
  color: white;
  border-color: white;
  text-align: center;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
}

.tagIcon img {
  width: 12px;
  height: 12px;
}

.tagLabel {
  font-size: 12px;
  font-weight: 300;
  font-family: 'IBM Plex Sans Condensed';
}
.tag:hover, .tag.selected {
  color: #000000;
}
.tag:hover .tagIcon {
  border-color: #808080;
}
.tag.selected:hover {
  color: #808080;
}

.sampleRow {
  display: block;
  vertical-align: middle;
  width: 100%;
  height: 14px;
  line-height: 12px;
  padding: 1px 0;
}

.name {
  width: 45%;
  font-size: 12px;
  margin-left: 0.25rem;
}

.circle {
  width: 12px;
  height: 12px;
  line-height: 12px;
  border-radius: 6px;
}

.reads {
  width: 20%;
  font-size: 12px;
  float: right;
}
