.info {
  display: inline-block;
  vertical-align: top;
  margin: 0.5rem 1.5rem;
  font-size: 0.75rem;
}

.summary {
  max-width: 266px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  margin: 0;
  padding: 0.125rem 0;
}

.label {
  padding-right: 1.5rem;
  font-weight: 200;
  color: #2b2b2b;
}