.table th,
.table tr,
.table td,
.table thead,
.table table,
.table td {
  width: inherit;
  table-layout: fixed;
  box-sizing: border-box;
  margin: 0 !important;
  padding: 0 !important;
  outline: none;
  border: none;
  border-style: none;
  user-select: auto;
  border-spacing: 0 !important;
  border-collapse: collapse !important;
}

.table {
  color: #808080;
  /*font-family: 'IBM Plex Mono';*/
}

.table thead {
  display: table-header-group;
}

.table th {
  text-align: left;
  font-weight: 200;
  vertical-align: top;
  line-height: 1rem;
  user-select: none;
  cursor: pointer;
}

.table .filterCell {
  font-family: 'IBM Plex Sans Condensed';
  font-weight: 300;
  color: black;
  padding: 0.25rem 0.5rem;
  width: 100%;
  line-height: 1rem;
  /*font-size: 0.75rem;*/
  font-size: 12px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
