.container {
  height: 100vh;
  padding: 1rem;
}

.logo {
  width: 140px;
  display: inline-block;
  vertical-align: top;
}

.button {
  cursor: pointer;
  margin: 0.25rem 0;
  padding: 0.5rem 0.25rem;
  display: inline-block;
  color: #808080;
}

.dash {
  display: inline-block;
  margin: 0;
  margin-right: 0.5rem;
  padding: 0;
}

.selected {
  color: #2b2b2b;
  font-weight: 600;
}

.button:hover {
  background: #2b2b2b;
  color: white;
}

.row {
  margin: 0;
  padding: 0;
  height: 14px;
  line-height: 14px;
  display: block;
  vertical-align: middle;
}

.rowLabel {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}