.panel {
  vertical-align: top;
  display: inline-block;
  overflow-y: scroll;
}

.leftGutter {
  padding-left: 0.5rem;
}

.heading {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 100px);
  height: 130px;
  overflow-y: hidden;
}

.controls {
  display: inline-block;
  vertical-align: top;
}

.menuToggle {
  position: relative;
  color: #ffffff;
  background: #1fbbd8;
  width: 22px;
  height: 22px;
  border-radius: 11px;
  font-size: 15px;
  line-height: 15px;
  margin: 0;
  padding: 0;
  text-align: center;
  cursor: pointer;
  border: 2px solid #333333;
}

.toggleSquare {
  position: absolute;
  background: #333333;
  width: 11px;
  height: 22px;
  margin: 0;
  padding: 0;
}

.menu {
  color: #ffffff;
  background: #333333;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
}

.menuItem {
  margin: 1rem;
  color: #ffffff;
  text-align: center;
}

.menuBox {
  margin: auto;
  margin-bottom: 0.5rem;
  width: 45px;
  height: 45px;
  background: #1fbbd8;
  padding: 9px;
  font-size: 24px;
  text-align: center;
  border-radius: 8px;
}

.axis {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  background-color: white;
  color: #808080;
}

.controlRow {
  width: 100%;
  vertical-align: top;
  display: inline-block;
  padding: 1rem;
  font-size: 13px;
  padding-bottom: 0;
}

.selector {
  display: inline-block;
  padding: 0.125rem 0.5rem;
  border-radius: 16px;
  text-align: center;
  line-height: 16px;
  font-size: 13px;
  cursor: pointer;
  border: 1px solid #999999;
  text-transform: capitalize;
}

.selector:hover {
  background: #1fbbd8;
  color: white;
}

.inlineControl {
  display: inline-block;
  margin: 0;
  margin-right: 0.25rem;
  cursor: pointer;
}
.inlineControl label {
  margin-right: 0.25rem;
}
.inlineControl input {
  vertical-align: middle;
  margin: 0 0.25rem;
  padding: 0;
}
.inlineControl input[type='radio']:after {
  width: 12px;
  height: 12px;
  border-radius: 12px;
  top: -3px;
  left: -4px;
  position: relative;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 3px solid #4d4d4d;
  background: #4d4d4d;
}
.inlineControl input[type='radio']:checked:after {
  width: 12px;
  height: 12px;
  border-radius: 12px;
  top: -3px;
  left: -4px;
  position: relative;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 3px solid #4d4d4d;
  background: #1fbbd8;
}
.inlineControl select {
  background: #4d4d4d;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  font-weight: 200;
  height: 24px;
  padding: 0.25rem;
  margin-right: 0.5rem;
}

.dash {
  display: inline-block;
  margin: 0 0.25rem;
  padding: 0;
}

.selected {
  font-weight: 400;
}
.dash.selected {
  color: #1fbbd8;
}
.selector.selected {
  border: 1px solid #1fbbd8;
  background: #1fbbd8;
}

.modalRow {
  margin-left: 0.25rem;
  height: 56px;
}

.modaltop {
  position: absolute;
  background: white;
  left: 1.5rem;
  overflow: hidden;
  padding: 0;
  margin: 0;
  margin-top: 0.5rem;
  height: 360px;
  background: white;
  border: 1px solid #2b2b2b;
  z-index: 5;
}

.rank {
  width: 72px;
  margin-right: 0.25rem;
}
.name {
  margin-right: 0.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.reads {
  width: 108px;
  margin-right: 0.25rem;
}

.modalbottom {
  position: relative;
  margin-top: -360px;
  overflow: hidden;
  padding: 0.5rem 0;
  height: 360px;
  background: white;
  border: 1px solid #2b2b2b;
}
.modalbottom p {
  margin: 0;
  margin-bottom: 0.5rem;
  padding: 0 0.5rem;
}

.phinchName {
  width: 144px;
  margin-right: 0.25rem;
}
.biomid {
  width: 72px;
  margin-right: 0.25rem; 
}
.restore {
  background: none;
  width:  36px;
  margin-right: 0.25rem;
}
