/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import "~font-awesome/css/font-awesome.css";

* {
  box-sizing: border-box;
}

body {
  position: relative;
  color: #808080;
  height: 100vh;
  background-color: white;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
  overflow-y: hidden;
}

h2 {
  font-weight: 200;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  /*color: white;*/
  /*opacity: 0.75;*/
  text-decoration: none;
}

a:hover {
  /*opacity: 1;*/
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}
