/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import "~font-awesome/css/font-awesome.css";

@import "~@ibm/plex/css/ibm-plex.css";

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}


::-webkit-scrollbar {
  -webkit-appearance: none;
  cursor: pointer;

}

::-webkit-scrollbar:vertical {
  width: 10px;
}

::-webkit-scrollbar:horizontal {
  height: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #999999;
  border: 2px solid white;
}

::-webkit-scrollbar-track {
  background-color: inherit;
}

html {
  height: 100vh;
  overflow: hidden;
}

body {
  position: relative;
  height: 100vh;
  font-weight: 200;
  background-color: #333333;
  color: #eeeeee;
  font-family: 'IBM Plex Sans';
  margin: 0;
  overflow: hidden;
}

h1 {
  font-weight: 200;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: 200;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

p {
  font-weight: 200;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
}
